import { html } from '@microsoft/fast-element';
import type { ViewTemplate } from '@microsoft/fast-element';
import { classNames } from '@microsoft/fast-web-utilities';
import type { VividElementDefinitionContext } from '../../shared/design-system/defineVividComponent';
import { {{className}} } from './{{fileName}}';

const getClasses = (_: {{className}}) =>
	classNames(
		'control',
	);

/**
 * The template for the {{className}} component.
 *
 * @param context - element definition context
 * @public
 */
export const {{className}}Template: (
	context: VividElementDefinitionContext
) => ViewTemplate<{{className}}> = (context: VividElementDefinitionContext) => html` <span
  class="${getClasses}"
>${context.tagFor({{className}})}
</span>`;
